nav {
    width: 100%;
    position: relative;
    top: 0;
    overflow:hidden;
  }

  ul {
    margin-top: 2px;
    margin-left: 2px;
    padding: 3px;
    list-style: none;
    display: flex;
    overflow:hidden;
    text-align: center;
  }

  li{
    font-size: larger;
  }

  @font-face {
    font-family: pisangLagi;
    src: url(assets/pisanglagi.otf);
  }

body {
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
    font-size: larger;
}

.homepage{
  background-image: url(assets/title.png);
}

.blink{
  background-image: url(assets/blink.png);
}

.foolish{
  background-image: url(assets/foolish.png);
}

.salt{
  background-image: url(assets/salt.png);
}

.time{
  background-image: url(assets/time.png);
}

a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(238, 142, 142);
  }
  
  a:link{
    color: rgb(238, 142, 142);
  }
  a:visited {
    color: rgb(238, 142, 142);
  }
  
  a:hover{
    color: rgb(190, 63, 63);
  }

  .container {
    margin-top: -30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
  }